<app-banner></app-banner>
<!--中1-->
<div class="zhong_01">
    <div style=" width:30%; float:left; margin:5vh 0 0 2vh;"><a href="#"><img src="../../assets/img/21在线购物-鲜花系列_03.jpg"></a></div>
    <div style=" width:30%; float:left; margin:5vh 0 0 1vh;"><a href="#"><img src="../../assets/img/22在线购物-鲜花系列_03.jpg"></a></div>
    <div style=" width:30%; float:left; margin:5vh 0 5vh 1vh;"><a href="#"><img src="../../assets/img/23在线购物-鲜花系列_03.jpg"></a></div>
</div>
<div class="clearfix"></div> <!--清楚浮动-->

<!--中2-->
<!-- <div class="zhong_02">
   <ul>
      <li style=" width:23%; float:left; margin-left:2vh;"><a href="#"><img src="../../assets/img/24在线购物-鲜花系列_03.jpg"></a></li>
      <li>
         <ul style=" width:25%; float:left; background:#f0f0f0;">
            <li style=""><img src="../../assets/img/25在线购物-鲜花系列_03.jpg"></li>
            <li style=" font-size:70%; color:#767676; text-align:center;">我足以与你相配，</li>
            <li style=" font-size:70%; color:#767676; text-align:center;">你是唯一与我相配的人.</li>
            <li style=" font-size:70%; color:#FB0206; font-weight:bold; text-align:center;">￥820.00</li>
         </ul>
      </li>
   </ul>
</div> -->

<div class="clearfix"></div> <!--清楚浮动-->

<!--中3-->
<div class="zhong_03">
      <ul>
         <li style=" width:46%; float:left; margin-left:2vh;"><a href="#"><img src="../../assets/img/29在线购物-鲜花系列_03.jpg"></a></li>
         <li style=" width:46%; float:left; margin-left:1vh; margin-bottom:2vh;"><a href="#"><img src="../../assets/img/28在线购物-鲜花系列_03.jpg"></a></li>
      </ul>
</div>

<!--中4-->
<div class="zhong_04">
      <ul>
         <li style=" width:46%; float:left; margin-left:2vh;"><a href="#"><img src="../../assets/img/29在线购物-鲜花系列_03.jpg"></a></li>
         <li style=" width:46%; float:left; margin-left:1vh; margin-bottom:2vh;"><a href="#"><img src="../../assets/img/28在线购物-鲜花系列_03.jpg"></a></li>
      </ul>
</div>

<!--中5-->
<div class="zhong_05">
      <ul>
         <li style=" width:46%; float:left; margin-left:2vh;"><a href="#"><img src="../../assets/img/29在线购物-鲜花系列_03.jpg"></a></li>
         <li style=" width:46%; float:left; margin-left:1vh; margin-bottom:2vh;"><a href="#"><img src="../../assets/img/28在线购物-鲜花系列_03.jpg"></a></li>
      </ul>
</div>