<div class="head_02"></div>

<!--中1-->
<div class="zhong_01">
   <div style=" width:70%; margin-top:3vh; margin-bottom:3vh;"><img src="../../assets/img/手机端9万芳-门店信息_03.jpg"></div>
</div>

<!--中2-->
<div class="zhong_02"><img src="../../assets/img/1手机端9万芳-门店信息_02.jpg"></div>
<div class="clearfix"></div><!--清楚浮动-->

<!--中3-->
<div class="zhong_03">
  <div style="margin:2vh 2vh; color:#646464; text-indent:4vh;">高端花艺近两年在长沙等城市迅速崛起，相比过去的以量取胜，根据自己故事定制花束的个性，满足不同顾客需求。高端花艺近两年在长沙等城市迅速崛起，相比较过去的以量取胜，根据自己故事定制花束的个性，满足不同顾客需求。</div>
</div>

<!--中4-->
<div class="zhong_04">
   <div class="zhong_041"><img src="../../assets/img/图层 34.png"></div>
   <div class="zhong_042">长沙市天心区刘家冲北路392号</div>
</div>

<!--中5-->
<div class="zhong_05">
   <div class="zhong_051"><img src="../../assets/img/图层 45.png"></div>
   <div class="zhong_052">400-0250-025</div>
</div>
