<!-- 头部2-->
<div class="head_02"></div>
<!-- 头部3-->
<div class="head_03">
  
</div>
<!-- 头部4-->
<div class="head_04">
</div>
<div class="clearfix"></div><!--清楚浮动-->

<div class="Basicinformation">
  <div class="">
    <ul>
      <li><img src="../../assets/img/组 42.png" alt=""></li>
      <li class="Basic">基本资料</li>
      <li class="save">保存</li>
      <div class="clearfix"></div>
    </ul>
  </div>
</div>

<div class="Basicont" style="display:none;">
  <div class="zhong">
     <div class="zhong_1">
       <div class="">
        <ul>
          <li class="title">昵称</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_2">
       <div class="">
        <ul>
          <li class="title">性别</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
  </div>

  <div class="zhong_01">
    <div class="zhong_1">
       <div class="">
        <ul>
          <li class="title">所在行业</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_2">
       <div class="">
        <ul>
          <li class="title">教育程度</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_3">
       <div class="">
        <ul>
          <li class="title">情感状态</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_4">
       <div class="">
        <ul>
          <li class="title">手机</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_5">
       <div class="">
        <ul>
          <li class="title">居住地</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_6">
       <div class="">
        <ul>
          <li class="title">邮箱</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
  </div>

  <div class="zhong_02">
    <div class="zhong_1">
       <div class="">
        <ul>
          <li class="title">爱人姓名</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_2">
       <div class="">
        <ul>
          <li class="title">爱人手机</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_3">
       <div class="">
        <ul>
          <li class="title">爱人生日</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
  </div>
</div> 

<div class="us" id="us">
  <div class="">
    <ul>
      <li><img src="../../assets/img/组 41.png" alt=""></li>
      <li class="Basic">我们的纪念日</li>
      <li class="save">保存</li>
      <div class="clearfix"></div>
    </ul>
  </div>
</div>

<div class="us_01" style="display:none;">
    <div class="zhong_1">
       <div class="">
        <ul>
          <li class="title">初次见面</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_2">
       <div class="">
        <ul>
          <li class="title">恋爱日</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_3">
       <div class="">
        <ul>
          <li class="title">100天纪念日</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_4">
       <div class="">
        <ul>
          <li class="title">求婚纪念日</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_5">
       <div class="">
        <ul>
          <li class="title">父母见面日</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_6">
       <div class="">
        <ul>
          <li class="title">领证日</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_7">
       <div class="">
        <ul>
          <li class="title">结婚纪念日</li>
          <li class="input"><input type="text"  value="" placeholder="未填写" dir="rtl"/></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
     <div class="zhong_8">
       <div class="">
        <ul>
          <li class="title">更多纪念日</li>
          <li class="input"><a href="">添加</a></li>
          <div class="clearfix"></div>
        </ul>
       </div>
     </div>
  </div>