/*<!-- 头部3 -->*/
.head_03{width: 100%;height: 20vmin;}

/*<!--中1-->*/
.Basicinformation{border-top: 1px solid #d6d7dc;border-bottom: 1px solid #d6d7dc;background-color: #fff;}
.Basicinformation ul .Basic{margin:2.7vmin 0 0 2vmin;width: 70vmin;}
.Basicinformation ul .save{background-color: #a2ce72;color: #fff;padding: 0.5vmin 2vmin;border-radius: 1vmin;}
.Basicinformation div ul li{float: left;margin: 2vmin 0 0 0;font-size: 4vmin;}
.Basicinformation div ul li img{width: 60%;}


.zhong{ max-width:640px; display:block;  background:#FFFFFF;margin-top: 5vmin; border-top:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc;}
.zhong .zhong_1{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong .zhong_1 input{border: 0;}
.zhong .zhong_1 ul .input{float: right;margin-right: 3vmin;}
.zhong .zhong_1 ul .title{color: #b4b4b4;float: left;}
.zhong .zhong_2{width: 95%;margin: 2.5vmin auto 0 auto;}
.zhong .zhong_2 input{border: 0;}
.zhong .zhong_2 ul .input{float: right;margin-right: 3vmin;}
.zhong .zhong_2 ul .title{color: #b4b4b4;float: left;}

.zhong_01{ max-width:640px; display:block;  background:#FFFFFF;margin-top: 5vmin; border-top:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc;}
.zhong_01 .zhong_1{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong_01 .zhong_1 input{border: 0;}
.zhong_01 .zhong_1 ul .input{float: right;margin-right: 3vmin;}
.zhong_01 .zhong_1 ul .title{color: #b4b4b4;float: left;}
.zhong_01 .zhong_2{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong_01 .zhong_2 input{border: 0;}
.zhong_01 .zhong_2 ul .input{float: right;margin-right: 3vmin;}
.zhong_01 .zhong_2 ul .title{color: #b4b4b4;float: left;}
.zhong_01 .zhong_3{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong_01 .zhong_3 input{border: 0;}
.zhong_01 .zhong_3 ul .input{float: right;margin-right: 3vmin;}
.zhong_01 .zhong_3 ul .title{color: #b4b4b4;float: left;}
.zhong_01 .zhong_4{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong_01 .zhong_4 input{border: 0;}
.zhong_01 .zhong_4 ul .input{float: right;margin-right: 3vmin;}
.zhong_01 .zhong_4 ul .title{color: #b4b4b4;float: left;}
.zhong_01 .zhong_5{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong_01 .zhong_5 input{border: 0;}
.zhong_01 .zhong_5 ul .input{float: right;margin-right: 3vmin;}
.zhong_01 .zhong_5 ul .title{color: #b4b4b4;float: left;}
.zhong_01 .zhong_6{width: 95%;margin: 2.5vmin auto 0 auto;}
.zhong_01 .zhong_6 input{border: 0;}
.zhong_01 .zhong_6 ul .input{float: right;margin-right: 3vmin;}
.zhong_01 .zhong_6 ul .title{color: #b4b4b4;float: left;}

.zhong_02{ max-width:640px; display:block;  background:#FFFFFF;margin-top: 5vmin; border-top:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc;}
.zhong_02 .zhong_1{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong_02 .zhong_1 input{border: 0;}
.zhong_02 .zhong_1 ul .input{float: right;margin-right: 3vmin;}
.zhong_02 .zhong_1 ul .title{color: #b4b4b4;float: left;}
.zhong_02 .zhong_2{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.zhong_02 .zhong_2 input{border: 0;}
.zhong_02 .zhong_2 ul .input{float: right;margin-right: 3vmin;}
.zhong_02 .zhong_2 ul .title{color: #b4b4b4;float: left;}
.zhong_02 .zhong_3{width: 95%;margin: 2.5vmin auto 0 auto;}
.zhong_02 .zhong_3 input{border: 0;}
.zhong_02 .zhong_3 ul .input{float: right;margin-right: 3vmin;}
.zhong_02 .zhong_3 ul .title{color: #b4b4b4;float: left;}


.us_01{ max-width:640px; display:block;  background:#FFFFFF;margin-top: 5vmin; border-top:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_1{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_1 input{border: 0;}
.us_01 .zhong_1 ul .input{float: right;margin-right: 3vmin;}
.us_01 .zhong_1 ul .title{color: #b4b4b4;float: left;}
.us_01 .zhong_2{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_2 input{border: 0;}
.us_01 .zhong_2 ul .input{float: right;margin-right: 3vmin;}
.us_01 .zhong_2 ul .title{color: #b4b4b4;float: left;}
.us_01 .zhong_3{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_3 input{border: 0;}
.us_01 .zhong_3 ul .input{float: right;margin-right: 3vmin;}
.us_01 .zhong_3 ul .title{color: #b4b4b4;float: left;}
.us_01 .zhong_4{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_4 input{border: 0;}
.us_01 .zhong_4 ul .input{float: right;margin-right: 3vmin;}
.us_01 .zhong_4 ul .title{color: #b4b4b4;float: left;}
.us_01 .zhong_5{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_5 input{border: 0;}
.us_01 .zhong_5 ul .input{float: right;margin-right: 3vmin;}
.us_01 .zhong_5 ul .title{color: #b4b4b4;float: left;}
.us_01 .zhong_6{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_6 input{border: 0;}
.us_01 .zhong_6 ul .input{float: right;margin-right: 3vmin;}
.us_01 .zhong_6 ul .title{color: #b4b4b4;float: left;}
.us_01 .zhong_7{width: 95%;margin: 2.5vmin auto 0 auto;border-bottom:1px solid #d6d7dc;}
.us_01 .zhong_7 input{border: 0;}
.us_01 .zhong_7 ul .input{float: right;margin-right: 3vmin;}
.us_01 .zhong_7 ul .title{color: #b4b4b4;float: left;}
.us_01 .zhong_8{width: 95%;margin: 2.5vmin auto 0 auto;}
.us_01 .zhong_8 input{border: 0;}
.us_01 .zhong_8 ul .input{float: right;margin-right: 4vmin;}
.us_01 .zhong_8 ul .title{color: #b4b4b4;float: left;}

.us{border-top: 1px solid #d6d7dc;border-bottom: 1px solid #d6d7dc;background-color: #fff;margin: 5vmin 0;}
.us ul .Basic{margin:2.7vmin 0 0 2vmin;width: 70vmin;}
.us ul .save{margin:2vmin 0 0 47vmin;background-color: #a2ce72;color: #fff;padding: 0.5vmin 2vmin;border-radius: 1vmin;}
.us div ul li{float: left;margin: 2vmin 0 0 0;font-size: 4vmin;}
.us div ul li img{width: 60%;}
