<app-banner></app-banner>
<div class="head_04">
   <div class="head_041"><a href="#"><img src="../../assets/img/关于我们1_03.jpg"></a></div>
   <div class="head_042"><a href="#"><img src="../../assets/img/关于我们2_03.jpg"></a></div>
   <div class="head_043"><a href="#"><img src="../../assets/img/关于我们3_03.jpg"></a></div>
</div>
<div class="clearfix"></div>

<!-- 中1-->
<div class="zhong_01">
    <div class="biaoti"><h4 style=" font-weight:bold">公司简介</h4>
    <div class="gang"> </div></div>
    <div class="wen">
     <ul>
      <li>说起创立之初的故事，是机缘巧合、也是冥冥之中。2012年，一群长期旅居国外、终日辛苦忙碌的朋友相聚在北京的某聚会上，觥筹间默契如多年挚友。就在那时，一位常年在商业谈判与数字交易中、行走往来的朋友提出一个问题——“你们，还相信爱情么?”要知道，那年最流行的感慨便是——我、再也不相信爱情了。问题一出，全场沉默。在忙于实现事业目标、追寻社会存在感的光影里，真爱，远若一个从未出世的童话。</li>
　　  <li>想要传递唯一真爱的信念在那一刻萌芽，很快，这群朋友从世界各地奔赴北京，有人放弃国际顶级投行合伙人的邀请，有人放弃长年旅居</li>
     </ul>
    </div>
</div>

<!-- 中2-->
<div class="zhong_02">
    <div class="biaoti2"><h4 style=" font-weight:bold">品牌文化</h4>
    <div class="gang2"> </div></div>
    <div class="wen2">
     <ul>
      <li>说起创立之初的故事，是机缘巧合、也是冥冥之中。2012年，一群长期旅居国外、终日辛苦忙碌的朋友相聚在北京的某聚会上，觥筹间默契如多年挚友。就在那时，一位常年在商业谈判与数字交易中、行走往来的朋友提出一个问题——“你们，还相信爱情么?”要知道，那年最流行的感慨便是——我、再也不相信爱情了。问题一出，全场沉默。在忙于实现事业目标、追寻社会存在感的光影里，真爱，远若一个从未出世的童话。</li>
　　   <li>想要传递唯一真爱的信念在那一刻萌芽，很快，这群朋友从世界各地奔赴北京，有人放弃国际顶级投行合伙人的邀请，有人放弃长年旅居</li>
     </ul>
    </div>
</div>
<div class="clearfix"></div>

<!--尾部-->
<div class="wei">
    <div class="biaoti3"><h4 style=" font-weight:bold"><a href="#" style=" color:#646464">加入我们</a></h4>
       <div class="gang3"></div>
    </div>
    <div class="wei_01">
       <div class="wei_011"><img src="../../assets/img/图层 21.jpg"></div>
       <div class="wei_012"><img src="../../assets/img/图层 22.jpg"></div>
       <div class="wei_013"><img src="../../assets/img/图层 23.jpg"></div>
    </div>
    <div class="wei_02">
       <div class="wei_021"><img src="../../assets/img/关于我们6_06.jpg"></div>
       <div class="wei_022"><img src="../../assets/img/关于我们6_06.jpg"></div>
       <div class="wei_023"><img src="../../assets/img/关于我们6_06.jpg"></div> 
    </div>
    <div class="wei_03">
      <ul>
       <li>说起创立之初的故事，是机缘巧合、也是冥冥之中。2012年，一群长期旅居国外、终日辛苦忙碌的朋友相聚在北京的某聚会上，觥筹间默契如多年挚友。就在那时，一位常年在商业谈判与数字交易中、行走往来的朋友提出一个问题——“你们，还相信爱情么?”要知道，那年最流行的感慨便是——我、再也不相信爱情了。问题一出，全场沉默。在忙于实现事业目标、追寻社会存在感的光影里，真爱，远若一个从未出世的童话。</li>
　　    <li>想要传递唯一真爱的信念在那一刻萌芽，很快，这群朋友从世界各地奔赴北京，有人放弃国际顶级投行合伙人的邀请，有人放弃长年旅居</li>
      </ul>
    </div>
</div>
