<app-banner></app-banner>
<!--中1-->
<div class="zhong_01">
   <div style=" width:20%; float:left; margin:3vh 0 0 3vh;"><a href="javascript:;" routerLink="/productflower"><img src="../../assets/img/1在线购物_03.jpg"></a></div>
   <div style=" width:20%; float:left; margin:3vh 0 0 2vh;"><a href="javascript:;" routerLink="/productplant"><img src="../../assets/img/11在线购物1_03.jpg"></a></div>
   <div style=" width:20%; float:left; margin:3vh 0 0 2vh;"><a href="javascript:;" routerLink="/pottedplant"><img src="../../assets/img/1在线购物2_03.jpg"></a></div>
   <div style=" width:20%; float:left; margin:3vh 0 3vh 2vh;"><a href="javascript:;" routerLink="/producttool"><img src="../../assets/img/1在线购物3_03.jpg"></a></div>
</div>

<!--中2-->
<div class="zhong_02"><img src="../../assets/img/1在线购物4_02.jpg"></div>

<!--中3-->
<div class="zhong_03">
   <div style=" width:40%; float:left; margin:3vh 0 3vh 2vh;"><a href="#"><img src="../../assets/img/1在线购物1_03.jpg"></a></div>
   <div style=" width:30%; float:right; margin:3vh 2vh 0 0;"><img src="../../assets/img/11在线购物3_03.jpg"></div>
   <div style=" width:50%; float:right; margin:1vh 2vh 0 0;">
      <ul style="">
         <li style=" font-size:80%; color:#767676; text-align:right;">永远倾心于你</li>
         <li style=" font-size:80%; color:#767676; text-align:right;">在只属于你的倾心之语中绽放</li>
         <li style=" font-size:80%; color:#767676; text-align:right; margin-bottom:1vh;">在只属于你的怀抱之中永恒</li>
         <li style=" float:left; margin-left:2vh;">厄瓜多尔皇家玫瑰</li>
         <li style=" float:right;">材质</li>
         <li style=" float:left; margin-left:2vh;">81cm*21cm*10cm</li>
         <li style=" float:right;">尺寸</li>
      </ul>
   </div>
   <div style=" width:20%; float:left; position:relative; left:-4vh; margin-bottom:4vh;"><img src="../../assets/img/11在线购物_03.jpg"></div>
</div>
<div class="clearfix"></div><!--清楚浮动-->


<!--中4-->
<div class="zhong_04">
   <div style=" width:40%; float:right; margin:0 2vh 0 0;"><a href="#"><img src="../../assets/img/1在线购物5_03.jpg"></a></div>
   <div style=" width:30%; float:left; margin-left:2vh; "><img src="../../assets/img/1在线购物4_03.jpg"></div>
   <div style=" width:50%; float:left; margin-left:2vh;">
      <ul style="">
         <li style=" font-size:80%; color:#767676; margin-top:1vh;">永远倾心于你</li>
         <li style=" font-size:80%; color:#767676;">在只属于你的倾心之语中绽放</li>
         <li style=" font-size:80%; color:#767676; margin-bottom:1vh;">在只属于你的怀抱之中永恒</li>
         <li style=" float:left; margin-right:2vh;">材质</li>
         <li style="">厄瓜多尔皇家玫瑰</li>
         <li style=" float:left; margin-right:2vh;">尺寸</li>
         <li style=" float:left;">81cm*21cm*10cm</li>    
      </ul>
   </div>
   <div style=" width:20%; float:right; position:relative; right:-4vh; margin-bottom:4vh;"><img src="../../assets/img/11在线购物_03.jpg"></div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<!--中5-->
<div class="zhong_05"><img src="../../assets/img/15在线购物_02.jpg"></div>

<!--尾-->
<div class="wei">
    <a href="javascript:;" routerLink="/productinfo">
        <ul style="">
            <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
            <li class="li_02">仙人水晶玉多肉...</li>
            <li class="li_03">￥100.00</li>
        </ul>
    </a>
</div>

<div class="wei">
    <a href="javascript:;" routerLink="/productinfo">
        <ul style="">
            <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
            <li class="li_02">仙人水晶玉多肉...</li>
            <li class="li_03">￥100.00</li>
        </ul>
    </a>
</div>

<div class="wei">
    <a href="javascript:;" routerLink="/productinfo">
        <ul style="">
            <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
            <li class="li_02">仙人水晶玉多肉...</li>
            <li class="li_03">￥100.00</li>
        </ul>
    </a>
</div>

<div class="wei">
    <a href="javascript:;" routerLink="/productinfo">
        <ul style="">
            <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
            <li class="li_02">仙人水晶玉多肉...</li>
            <li class="li_03">￥100.00</li>
        </ul>
    </a>
</div>

<div class="wei">
    <a href="javascript:;" routerLink="/productinfo">
        <ul style="">
            <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
            <li class="li_02">仙人水晶玉多肉...</li>
            <li class="li_03">￥100.00</li>
        </ul>
    </a>
</div>

