<!-- 头部3-->
<div class="head_03">
    
</div>
<div class="clearfix"></div><!--清楚浮动-->

<!-- 中1 -->
<div class="zhong_01">
   <ul style=" margin:3% 3%;">
      <li style=" font-weight:bold; margin-bottom:2%; font-size:120%;">修改地址</li>
      <li style=" color:#FC0206; float:left; padding:3% 0;">*</li>
      <li style=" float:left; margin-left:2%; padding:3% 0; color:#808080;">收货人</li>
      <li style=" float:left; margin-left:8%;"><input type="text" name="firstname" size="20" placeholder="填写收花人姓名" maxlength="5" style=" padding:5% 2%;"/></li>
   </ul>
   <div class="clearfix"></div><!--清楚浮动-->

   <ul style=" margin:3% 3%;">
      <li style=" color:#FC0206; float:left; padding:3% 0;">*</li>
      <li style=" float:left; margin-left:2%; padding:3% 0; color:#808080;">所在地址</li>
      <li style=" float:left; margin-left:3%;">
          <select style=" padding:8% 2%;">
              <option value="1"><span style=" color:#b4b4b4;">请选择省份</span></option>
              <option value="2">湖南省</option>
              <option value="3">广东省</option>
              <option value="4">浙江省</option>
          </select>
      </li>
   </ul>      
   <div class="clearfix"></div><!--清楚浮动-->
   
   <ul style=" margin:3% 3%;">
      <li style=" color:#FC0206; float:left; padding:3% 0;">*</li>
      <li style=" float:left; margin-left:2%; padding:3% 0; color:#808080;">详细地址</li>
      <li style=" float:left; margin-left:3%;"><input type="text" name="firstname" placeholder="详细地址" size="20" style=" padding:5% 30% 5% 2%;"/></li>
   </ul>
   <div class="clearfix"></div><!--清楚浮动-->  
   
   <ul style=" margin:3% 3%;">
      <li style=" color:#FC0206; float:left; padding:3% 0;">*</li>
      <li style=" float:left; margin-left:2%; padding:3% 0; color:#808080;">联系电话</li>
      <li style=" float:left; margin-left:3%;"><input type="text" name="firstname" placeholder="联系电话" size="20" style=" padding:5% 2%;"/></li>
   </ul>
   <div class="clearfix"></div><!--清楚浮动-->        

   <ul style=" margin:3% 3%;">
      <li style=" color:#FC0206; float:left; padding:3% 0;">*</li>
      <li style=" float:left; margin-left:2%; padding:3% 0; color:#808080;">邮政编码</li>
      <li style=" float:left; margin-left:3%;"><input type="text" name="firstname" placeholder="邮政编码" size="20" style=" padding:5% 2%;"/></li>
   </ul>
   <div class="clearfix"></div><!--清楚浮动-->   

   <div>
      <ul style=" margin:3% 3%; padding:2% 0;">
         <li style=" float:left;"><input type="checkbox" name="box" value="1" ></li>
         <li style=" font-size:70%; color:#b4b4b4; float:left; margin-left:2%; padding:0.5% 0;">设为常用地址   (  *  必填  )</li>
      </ul>
   </div>
   <div class="clearfix"></div><!--清楚浮动--> 
   
   <div style=" margin:3% 3%;"><b style=" background:#ed5561; padding:2% 4%; float:right; margin-bottom:5%;"><a href="#" style=" color:#fff;">保存</a></b></div>
   
</div>  
<div class="clearfix"></div><!--清楚浮动--> 

<!-- 中2 -->
<div class="head_03">
   <div class="head_032">支付及配送方式</div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<div class="zhong_02">
   <ul style=" margin:3% 1% 7% 5%; float:left; width:35%;">
      <li style=" font-weight:bold; font-size:110%;">支付方式</li>
      <li style=" color:#808080;"><input type="checkbox" name="box" value="5" ><span style=" margin-left:5px;">微信支付</span></li>
   </ul>
   
   <ul style=" margin:3% 2%; float:left; width:55%;">
      <li style=" font-weight:bold; font-size:110%;">配送方式</li>
      <li style=" float:left; margin-right:3%;"><input type="checkbox" name="box" value="6" ></li>
      <li style=" color:#808080;">快递运输<span style=" font-size:70%; color:#b4b4b4;">（我们将用最快的速度发货，运输费15.00）</span></li>
      <li style=" float:left; margin:3% 3% 0 0;"><input type="checkbox" name="box" value="7" ></li>
      <li style=" margin:3% 0 0 0; color:#808080;">实体店自提</li>
   </ul>
   
</div>
<div class="clearfix"></div><!--清楚浮动-->

<!-- 中3 -->
<div class="head_03">
   <div class="head_032">商品清单</div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<div class="zhong_03">
   <ul style=" margin:5% 3% 3% 3%; border-bottom:1px solid #b4b4b4; padding-bottom:4%;">
      <li style=" width:20%; float:left;"><img src="../../assets/img/7确认结算1_03.jpg"></li>
      <li style=" font-weight:bold; font-size:3vmin; float:left; margin-left:2%;">满满的爱 - 柔情大小版嫣红</li>
      <li style=" font-size:70%; ">¥ 1314.00 <span style=" color:#FC0105;">x 1</span></li>
      <li style=" margin-left:2%; float:left;margin-top:2%;">卡     片</li>
      <li style=" margin-top:3%;"><textarea cols="25" rows="3" style="resize:none; background:#e6e6e6; border:0px solid #fff;" placeholder="填写您的祝福语，如果不填将不会赠送卡片哦"></textarea></li>
   </ul>
</div>





<!-- 中4 -->
<div class="zhong_04">
   <ul style=" margin:3% 3%;">
      <li><b style=" background:#ed5561; padding:2% 4%; float:right; margin-bottom:5%;"><a href="#" style=" color:#fff;">保存</a></b></li>
      <li style=" font-weight:bold; float:right; padding:3% 0; margin-right:5%;">¥ 6892.00</li>
      <li style=" font-size:70%; float:right; padding:3% 0;">合计金额：</li> 
   </ul>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<!-- 尾 -->
<div class="wei">
   <input type="button" value="提交订单" style=" padding:2% 20%; background:#ed5561; border:1px solid #ed5561; color:#FFFFFF; margin:5% 0 5% 25%;">
</div>
