<div class="nav">
        <a href="">
            <div class="index">
                <ul>
                    <li><img src="../../assets/img/index1.png" alt=""></li>
                    <li>首页</li>
                </ul>
            </div>
        </a> 
        <a href="">   
            <div class="mycar">
                <ul>
                    <li><img src="../../assets/img/history1.png" alt=""></li>
                    <li>产品中心</li>
                </ul>
            </div>
        </a>
        <a href="">    
            <div class="history">
                <ul>
                    <li><img src="../../assets/img/mycar1.png" alt=""></li>
                    <li>购物车</li>
                </ul>
            </div>
        </a> 
        <a href=""> 
            <div class="about">
                <ul>
                    <li><img src="../../assets/img/index1.png" alt=""></li>
                    <li>关于我们</li>
                </ul>
            </div>
        </a>  
        <a href=""> 
            <div class="my">
                <ul>
                    <li><img src="../../assets/img/my1.png" alt=""></li>
                    <li>个人中心</li>
                </ul>
            </div>
        </a>    
</div>
