<app-banner></app-banner>
<!--中2-->
<div class="zhong_02">
    <ul>
        <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
        <li class="li_02">仙人水晶玉多肉...</li>
        <li class="li_03">￥100.00</li>
    </ul>
</div>

<div class="zhong_02">
    <ul>
        <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
        <li class="li_02">仙人水晶玉多肉...</li>
        <li class="li_03">￥100.00</li>
    </ul>
</div>

<div class="zhong_02">
    <ul>
        <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
        <li class="li_02">仙人水晶玉多肉...</li>
        <li class="li_03">￥100.00</li>
    </ul>
</div>

<div class="zhong_02">
    <ul>
        <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
        <li class="li_02">仙人水晶玉多肉...</li>
        <li class="li_03">￥100.00</li>
    </ul>
</div>

<div class="zhong_02">
    <ul>
        <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
        <li class="li_02">仙人水晶玉多肉...</li>
        <li class="li_03">￥100.00</li>
    </ul>
</div>

<div class="zhong_02">
    <ul>
        <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
        <li class="li_02">仙人水晶玉多肉...</li>
        <li class="li_03">￥100.00</li>
    </ul>
</div>

<div class="zhong_02">
    <ul>
        <li class="li_01"><a href="#"><img src="../../assets/img/3在线购物--多肉植物、绿色盆栽、养护工具_03.jpg"></a></li>
        <li class="li_02">仙人水晶玉多肉...</li>
        <li class="li_03">￥100.00</li>
    </ul>
</div>
