.zhong_02 ul{ width:30%; border:1px solid #d6d7dc; float:left; margin:4vmin 0 0 2vmin;}
.zhong_02 ul .li_02{ font-size:80%; margin-top:1vh;}
.zhong_02 ul .li_03{ color:#F90105; font-weight:bold; margin-bottom:1vh;}