<app-banner></app-banner>
<!--中1-->
<div class="zhong_01">
    <ul style="">
       <li><img src="../../assets/img/4在线购物-花的详情页面2_02.jpg"></li>
       <li style=" color:#646464; font-size:70%; margin-left:2vh;">我要对你实行我的爱情专属，</li>
       <li style=" color:#646464; font-size:70%; margin-left:2vh;">上面写满生生世世爱永不变 不管多少时间 </li>
    </ul>
</div>
<div class="clearfix"></div> <!--清楚浮动-->

<!--中2-->
<div class="zhong_02">
   <div style=" color:#646464; font-size:70%; margin-left:2vh; float:left; margin-top:1vh;">颜色分类</div>
   <div class="zhong_022">
      <ul style=" width:80%; float:left;">
         <li style=" width:11%; float:left; margin-left:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh; margin-top:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh; margin-top:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh; margin-top:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh; margin-top:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh; margin-top:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh; margin-top:1vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
         <li style=" width:11%; float:left; margin-left:1vh; margin-top:1vh; margin-bottom:2vh;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面3_03.jpg"></a></li>
      </ul>
   </div>
</div>
<div class="clearfix"></div> <!--清楚浮动-->

<!--中3-->
<div class="zhong_03">
  <ul>
    <li style=" color:#646464; font-size:70%; float:left; margin-left:2vh;">数量：</li>
    <li style=" float:left;">
      <p class="p_num">
  		  <span class="sy_minus" id="sy_minus_gid1"><</span>
		  <input class="sy_num" id="sy_num_gid1" readonly type="text" name="number1" value="1" />
		  <span class="sy_plus" id="sy_plus_gid1">></span>
	  </p>
	  <p class="" style="display: none;">￥1314.00</p>
    </li>
    <li style=" color:#646464; font-size:70%; float:left; ">件</li>
    <li style=" color:#646464; font-size:70%; float:left; ">运费：长沙 至 杭州</li>  
    <li style=" color:#646464; font-size:70%; float:left; margin-left:3vh; margin-bottom:3vh;">¥：15.00</li>
    <li style=" margin-left:2vh; float:left;"><p class="" id="all">￥1314.00</p></li>
  </ul> 
</div>
<div class="clearfix"></div> <!--清楚浮动-->

<!--中4-->
<div class="zhong_04"><img src="../../assets/img/4在线购物-花的详情页面4_02.jpg"></div>

<!--中5-->
<div class="zhong_05">
   <ul style=" margin-left:2vh; float:left; width:35%;">
      <li style=" font-size:70%; font-weight:bold; float:left;">品牌名称：</li>
      <li style=" color:#646464; font-size:70%;">万芳</li>
      <li style=" font-size:70%; font-weight:bold;">产品参数：</li>
      <li style=" font-size:70%; font-weight:bold; float:left;">主&nbsp;&nbsp;花&nbsp;&nbsp;材:</li>
      <li style=" color:#646464; font-size:70%;">玫瑰</li>
      <li style=" font-size:70%; font-weight:bold; float:left;">辅助花材 :</li>
      <li style=" color:#646464; font-size:70%;">满天星</li>
      <li style=" font-size:70%; font-weight:bold; float:left;">货&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号: </li>
      <li style=" color:#646464; font-size:70%;">F4189</li>
      <li style=" font-size:70%; font-weight:bold; float:left;">鲜花朵数：</li>
      <li style=" color:#646464; font-size:70%;">11朵</li>

   </ul>
   <ul style=" margin-top:3vh; padding-top:3vh;">
      <li style=" font-size:70%; font-weight:bold; float:left; ">鲜花规格：</li>
      <li style=" color:#646464; font-size:70%; ">18*60CM</li>
      <li style=" font-size:70%; font-weight:bold; float:left;">适用场景:</li>
      <li style=" color:#646464; font-size:70%;">爱意表达 生日 祝福 求婚</li>            
      <li style=" font-size:70%; font-weight:bold; float:left;">适用节日:</li>
      <li style=" color:#646464; font-size:70%;">情人节 圣诞节 春节</li>
      <li style=" font-size:70%; font-weight:bold; float:left;">适用对象:</li>
      <li style=" color:#646464; font-size:70%;">爱人 老师 客户 朋友</li> 
      <li style=" font-size:70%; font-weight:bold; float:left;">鲜花颜色：</li>
      <li style=" color:#646464; font-size:70%; margin-bottom:4vh;">酒红色为主，香槟色点缀</li>
   </ul>
</div>

<!--中6-->
<div class="zhong_06"><img src="../../assets/img/4在线购物-花的详情页面5_02.jpg"></div>

<!--中7-->
<div class="zhong_07"><img src="../../assets/img/4在线购物-花的详情页面6_02.jpg"></div>

<!--中8-->
<div class="zhong_08">
   <ul>
      <li style=" text-align:center; margin-top:2vh;">遍访世界玫瑰园，万里择一只为你</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-top:1vh;">在离天堂最近的玫瑰花田，沐浴365天的阳光和，</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">才有超长浓艳花期、及在花园中花枝挺拔至1.5厄多尔玫瑰。精选高</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">达3英寸的罕世花蕾，RosePlus，只选全世界百里挑一的鲜花奢侈</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-bottom:5vh;">品。osePlus，只选全世界百里挑一的鲜花奢侈品。</li>
   </ul>
</div>

<!--中9-->
<div class="zhong_09"><img src="../../assets/img/4在线购物-花的详情页面7_02.jpg"></div>

<!--中10-->
<div class="zhong_010"><img src="../../assets/img/4在线购物-花的详情页面6_02.jpg"></div>

<!--中11-->
<div class="zhong_011">
   <ul>
      <li style=" text-align:center; margin-top:2vh;">遍访世界玫瑰园，万里择一只为你</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-top:1vh;">在离天堂最近的玫瑰花田，沐浴365天的阳光和，</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">才有超长浓艳花期、及在花园中花枝挺拔至1.5厄多尔玫瑰。精选高</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">达3英寸的罕世花蕾，RosePlus，只选全世界百里挑一的鲜花奢侈</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-bottom:5vh;">品。osePlus，只选全世界百里挑一的鲜花奢侈品。</li>
   </ul>
</div>

<!--中12-->
<div class="zhong_012"><img src="../../assets/img/4在线购物-花的详情页面8_02.jpg"></div>

<!--中13-->
<div class="zhong_013"><img src="../../assets/img/4在线购物-花的详情页面9_02.jpg"></div>

<!--中14-->
<div class="zhong_014">
   <ul>
      <li style=" text-align:center; margin-top:2vh;">遍访世界玫瑰园，万里择一只为你</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-top:1vh;">在离天堂最近的玫瑰花田，沐浴365天的阳光和，</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">才有超长浓艳花期、及在花园中花枝挺拔至1.5厄多尔玫瑰。精选高</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">达3英寸的罕世花蕾，RosePlus，只选全世界百里挑一的鲜花奢侈</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-bottom:5vh;">品。osePlus，只选全世界百里挑一的鲜花奢侈品。</li>
   </ul>
</div>

<!--中15-->
<div class="zhong_015"><img src="../../assets/img/4在线购物-花的详情页面10_02.jpg"></div>
<!--中16-->
<div class="zhong_016"><img src="../../assets/img/4在线购物-花的详情页面11_02.jpg"></div>

<!--中17-->
<div class="zhong_017">
   <ul>
      <li style=" text-align:center; margin-top:2vh;">遍访世界玫瑰园，万里择一只为你</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-top:1vh;">在离天堂最近的玫瑰花田，沐浴365天的阳光和，</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">才有超长浓艳花期、及在花园中花枝挺拔至1.5厄多尔玫瑰。精选高</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center;">达3英寸的罕世花蕾，RosePlus，只选全世界百里挑一的鲜花奢侈</li>
      <li style=" color:#b4b4b4; font-size:70%; text-align:center; margin-bottom:5vh;">品。osePlus，只选全世界百里挑一的鲜花奢侈品。</li>
   </ul>
</div>

<!--尾1-->
<div class="wei_01">
   <ul style="width:100%; background:#f0f0f0; padding:5vh 0; margin-bottom:5vh;">
      <li style=" font-size:110%; font-weight:bold; text-align:center;">Caring Notes</li>
      <li style=" font-size:110%; font-weight:bold; text-align:center;">保养物语</li>
      <li style=" text-align:center; margin-top:2vh;">细心呵护保养，成就roseplus永恒之美</li>
      <li style=" text-align:center; font-size:70%; margin-top:3vh;"><a href="#" style=" color:#808080;">点击查看详情</a></li>
   </ul>
</div>
<div class="clearfix"></div> <!--清楚浮动-->


<!-- 底部购物车 -->
<div class="di">
   <ul style=" float:left; width:100%; padding:0; background:#FFFFFF;" id="p1">
      <li style=" width:20%; float:left; border-right:1px solid #f0f0f0;"><a href="#"><img src="../../assets/img/4在线购物-花的详情页面12_03.jpg"></a></li>
      <li style=" width:20%; float:left;"><a href="javascript:;" routerLink="/shopcar"><img src="../../assets/img/4在线购物-花的详情页面13_03.jpg"></a></li>
 
      <li style=" float:left; background:#ff6600; font-size:5vmin; padding:4% 3.5% 4% 3.5%;"><a href="javascript:;" (click)="upShopCar();" style=" color:#FFFFFF;"><b>加入购物车</b></a></li>
      <li style=" float:left; background:#ed5561; font-size:5vmin; padding:4% 4% 4% 3.5%;"><a href="javascript:;" routerLink="/shopcar" style=" color:#FFFFFF;"><b>立即购买</b></a></li>
   </ul>
</div>

