<div class="head_03">
</div>
<!-- 中1 -->
<div class="zhong_01">
    <a href="javascript:;" routerLink="/newaddress"><input type="button" value="+添加新地址" style=" padding:5% 20%; background:#ed5561; border:1px solid #ed5561; color:#FFFFFF; margin:5% 0 5% 20%;" ></a>
    <a href="javascript:;" routerLink="/reviseaddress">
      <div>
       <ul style=" border-bottom:1px solid #b4b4b4; border-top:1px solid #b4b4b4; background:#FFFFFF; padding:5% 4%;">
          <li style=" float:left; margin-right:25%;"><span style=" color:#646464;">收货人</span>：胡某某</li>
          <li style="">15115358542</li>
          <li><span style=" color:#646464;">收货地址</span>：湖南省长沙市天心区新韶东路498号</li>
       </ul>
      </div>
    </a>
</div>  
<div class="clearfix"></div><!--清楚浮动--> 



<!-- 中2 -->
<div class="head_03">
   <div class="head_032">支付及配送方式</div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<div class="zhong_02">
   <ul style=" margin:3% 1% 7% 5%; float:left; width:35%;">
      <li style=" font-weight:bold; font-size:110%;">支付方式</li>
      <li style=" color:#808080;"><input type="checkbox" name="box" value="5" ><span style=" margin-left:5px;">微信支付</span></li>
   </ul>
   
   <ul style=" margin:3% 2%; float:left; width:55%;">
      <li style=" font-weight:bold; font-size:110%;">配送方式</li>
      <li style=" float:left; margin-right:3%;"><input type="checkbox" name="box" value="6" ></li>
      <li style=" color:#808080;">快递运输<span style=" font-size:70%; color:#b4b4b4;">（我们将用最快的速度发货，运输费15.00）</span></li>
      <li style=" float:left; margin:3% 3% 0 0;"><input type="checkbox" name="box" value="7" ></li>
      <li style=" margin:3% 0 0 0; color:#808080;">实体店自提</li>
   </ul>
   
</div>
<div class="clearfix"></div><!--清楚浮动-->

<!-- 中3 -->
<div class="head_03">
   <div class="head_032">商品清单</div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<div class="zhong_03">
   <ul>
      <li class="li_01"><img src="../../assets/img/7确认结算1_03.jpg"></li>
      <li class="li_02">满满的爱 - 柔情大小版嫣红</li>
      <li class="li_03">¥ 1314.00 <span>x 1</span></li>
      <li class="li_04">卡 片</li>
      <li class="li_05"><textarea cols="25" rows="3" placeholder="填写您的祝福语，如果不填将不会赠送卡片哦"></textarea></li>
   </ul>
</div>

<div class="zhong_03">
   <ul>
      <li class="li_01"><img src="../../assets/img/7确认结算1_03.jpg"></li>
      <li class="li_02">满满的爱 - 柔情大小版嫣红</li>
      <li class="li_03">¥ 1314.00 <span>x 1</span></li>
      <li class="li_04">卡 片</li>
      <li class="li_05"><textarea cols="25" rows="3" placeholder="填写您的祝福语，如果不填将不会赠送卡片哦"></textarea></li>
   </ul>
</div>


<!-- 中4 -->
<div class="zhong_04">
   <ul style=" margin:3% 3%;">
      <li><b style=" background:#ed5561; padding:2% 4%; float:right; margin-bottom:5%;"><a href="#" style=" color:#fff;">保存</a></b></li>
      <li style=" font-weight:bold; float:right; padding:3% 0; margin-right:5%;">¥ 6892.00</li>
      <li style=" font-size:70%; float:right; padding:3% 0;">合计金额：</li> 
   </ul>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<!-- 尾 -->
<div class="wei">
   <input type="button" value="提交订单" style=" padding:2% 20%; background:#ed5561; border:1px solid #ed5561; color:#FFFFFF; margin:5% 0 5% 25%;">
</div>
