<!-- 头部3-->
<div class="head_03"></div>
<!--中1-->
<div class="zhong_01">
   <div class="zhong_011">
      <ul>
         <li class="li_01"><b>订单号：</b></li>
         <li class="li_02">0000123123</li>
         <li class="li_03"><b>交易状态：</b></li>
         <li class="li_04">已付款</li>
      </ul>
   </div>
   <div class="zhong_012"><img src="../../assets/img/1我的订单_03.jpg"></div>
   <div class="zhong_013">
      <ul>
         <li class="li_01">11朵裸粉色玫瑰花束情人节送朋友闺蜜</li>
         <li class="li_02">生日爱情花束</li>
         <li class="li_03">运费：￥15.00</li>
         <li class="li_04">￥520.00</li>
         <li class="li_05">×1</li>
      </ul>
   </div>
   <div class="zhong_014">小计：￥535.00</div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<div class="zhong_01">
   <div class="zhong_011">
      <ul>
         <li class="li_01"><b>订单号：</b></li>
         <li class="li_02">0000123123</li>
         <li class="li_03"><b>交易状态：</b></li>
         <li class="li_04">已付款</li>
      </ul>
   </div>
   <div class="zhong_012"><img src="../../assets/img/1我的订单_03.jpg"></div>
   <div class="zhong_013">
      <ul>
         <li class="li_01">11朵裸粉色玫瑰花束情人节送朋友闺蜜</li>
         <li class="li_02">生日爱情花束</li>
         <li class="li_03">运费：￥15.00</li>
         <li class="li_04">￥520.00</li>
         <li class="li_05">×1</li>
      </ul>
   </div>
   <div class="zhong_014">小计：￥535.00</div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

<div class="zhong_01">
   <div class="zhong_011">
      <ul>
         <li class="li_01"><b>订单号：</b></li>
         <li class="li_02">0000123123</li>
         <li class="li_03"><b>交易状态：</b></li>
         <li class="li_04">已付款</li>
      </ul>
   </div>
   <div class="zhong_012"><img src="../../assets/img/1我的订单_03.jpg"></div>
   <div class="zhong_013">
      <ul>
         <li class="li_01">11朵裸粉色玫瑰花束情人节送朋友闺蜜</li>
         <li class="li_02">生日爱情花束</li>
         <li class="li_03">运费：￥15.00</li>
         <li class="li_04">￥520.00</li>
         <li class="li_05">×1</li>
      </ul>
   </div>
   <div class="zhong_014">小计：￥535.00</div>
</div>
<div class="clearfix"></div><!--清楚浮动-->

