<div class="head_03"></div>
<!-- 中1 -->
<div class="zhong_01">
     <div class="shan"><a href="#" style="">删除</a></div>
   <ul>
      <li class="li_01"><input type="checkbox" name="box" value="1" ></li> 
      <li class="li_02"><img src="../../assets/img/6购物车_03.jpg"></li>
      <li class="li_03"><span style=" font-size:120%; font-weight:bold;">一见倾心</span><span style=" font-size:70%;">（27枝鲜花玫瑰，感谢今生陪伴我）</span></li>
      <li class="li_04">¥1314.00</li>
      <li class="li_05">
        <p class="p_num">
          <span class="sy_minus" id="sy_minus_gid1"><</span>
          <input class="sy_num" id="sy_num_gid1" readonly type="text" name="number1" value="1" />
          <span class="sy_plus" id="sy_plus_gid1">></span>
	      </p>
      </li>
      <li class="li_06">小计：¥<span id="pay">1314.00</span></li>
   </ul>
</div>
<div class="clearfix"></div><!--清楚浮动-->



<!-- 中5 -->
<div class="zhong_05"><span style=" width:100%; font-weight:700; border-bottom:1px solid #d6d7dc; text-align:center;">运费：15.00</span></div>

<!-- 尾1 -->
<div class="wei_01">
   <ul style=" margin-left:2%; margin-top:15%; margin-bottom:30%;">
      <li style=" font-weight:bold; font-size:130%;">订单帮助</li>
      <li style=" color:#646464;">热线电话：400-1314-520</li>
      <li style=" color:#646464;">客服工作时间：周一至周日9:00-21:00</li>
      <li style=" color:#646464;">如果您在下单过程中遇到问题，请与我们联系</li>
      <li style=" color:#646464;">因为鲜花商品对配送时效有特殊要求，订购后请随时与我们联系</li>
   </ul>
</div>

<!-- 尾2 -->
<div class="wei_02">
   <ul style=" border-top:1px solid #d6d7dc; float:left; width:100%; background:#FFFFFF;" id="p1">
      <li style=" float:left; padding:4% 0; margin-left:4%;"><input type="checkbox" name="all" id="all" value="1" ></li>
      <li style=" font-weight:600; float:left; padding:4% 0; margin-left:1%;">全选</li>
      <li style=" font-weight:600; float:left; padding:4% 0; margin-left:13%;">合计：</li>
      <li id="pay" style=" font-weight:600; color:#ed5561; float:left; padding:4% 0;">¥<span id="payy">0.00</span></li>
      <li style=" float:left; background:#ed5561; padding:4% 3%; float:right;"><a href="#" style=" color:#FFFFFF;">马上去结算</a></li>
   </ul>
</div>
