<!--Content Banner (Page banner)-->
  <app-banner></app-banner>
<div class=""><img src="../../assets/img/index-img/indexcont.jpg" alt=""></div>

<div class=""><a href="javascript:;" routerLink="/productmenu"><img src="../../assets/img/index-img/indexcont1.jpg" alt=""></a></div>

<div class="more">
	<div class="title">
		<img src="../../assets/img/index-img/indextitle.png" alt="">
	</div>
	<div class="more_01"><a href=""><img src="../../assets/img/index-img/indexcont2.jpg" alt=""></a></div>
	<div class="more_02"><a href="javascript:;" routerLink="/aboutus"><img src="../../assets/img/index-img/indexcont3.jpg" alt=""></a></div>
	<div class="more_03"><a href=""><img src="../../assets/img/index-img/indexcont4.jpg" alt=""></a></div>
	<div class="more_04"><a href=""><img src="../../assets/img/index-img/indexcont5.jpg" alt=""></a></div>
	<div class="clearfix"></div>
</div>
<!--Content Footer (Page footer)-->
  <app-footer></app-footer>